---
import { type CollectionEntry, render } from "astro:content";
import FormattedDate from "@/components/FormattedDate.astro";
import type { HTMLTag, Polymorphic } from "astro/types";
import { getEntryParams } from "@/utils/params";

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
  note: CollectionEntry<"note">;
};

const { note } = Astro.props;
const { Content } = await render(note);

const { path } = getEntryParams(note);
---

<article class="content-box note-card">
  <div class="prose note-content line-clamp-6">
    <Content />
  </div>
  <footer class="note-footer">
    <a class="custom-link note-date mono" href={`/${path}/`}>
      <FormattedDate date={note.data.date} />
    </a>
  </footer>
</article>
