/* would like to ignore ./src/pages/og-image/[slug].png.ts */
@import "tailwindcss";
/* config for tailwindcss-typography plugin */
@config "../../tailwind.config.ts";

/* use a selector-based strategy for dark mode */
@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

/* you could refactor below to use light-dark(), depending on your target audience */
@theme {
	--color-global-bg: #ffffff;
	--color-global-text: #222222;
	--color-secondary-text: #666666;
	--color-link: #e66b00;
	--color-link-hover: #ff7a00;
	--color-accent: #d45c00;
	--color-accent-2: oklch(18.15% 0 0);
	--color-quote: oklch(55.27% 0.195 19.06);
	--color-divider: #dddddd;
	--color-code-block-bg: #eeeeee;
	--color-box-bg: #f4f4f4;
	--color-shadow: rgba(0, 0, 0, 0.08);
	--box-shadow: 0 2px 5px var(--color-shadow);
}

@layer base {
	html {
		color-scheme: light dark;
		accent-color: var(--color-accent);
		scrollbar-gutter: stable;

		&[data-theme="light"] {
			color-scheme: light;
		}

		&[data-theme="dark"] {
			color-scheme: dark;
			--color-global-bg: #0f0f0f;
			--color-global-text: #e0e0e0;
			--color-secondary-text: #a0a0a0;
			--color-link: #ffb347;
			--color-link-hover: #ffaa33;
			--color-accent: #ff7a00;
			--color-accent-2: oklch(94.66% 0 0);
			--color-quote: oklch(94.8% 0.106 136.49);
			--color-divider: #2a2a2a;
			--color-code-block-bg: #1a1a1a;
			--color-box-bg: #1e1e1e;
			--color-shadow: rgba(0, 0, 0, 0.4);
			--box-shadow: 0 2px 5px var(--color-shadow);
		}
	}

	:target {
		scroll-margin-block: 5ex;
	}

	@view-transition {
		/* biome-ignore lint: reason */
		navigation: auto;
	}
	/* Astro image responsive styles, modified from -> https://docs.astro.build/en/guides/images/#responsive-image-styles */
	:where([data-astro-image]) {
		object-fit: var(--fit);
		object-position: var(--pos);
	}
	[data-astro-image="full-width"] {
		width: 100%;
	}
	[data-astro-image="constrained"] {
		max-width: 100%;
	}
}

@layer components {
	@import "./components/admonition.css";
	@import "./components/github-card.css";

	.content-box {
		@apply inline-grid w-full max-w-full bg-(--color-box-bg) p-4;
		/* @apply prose dark:prose-invert relative flex w-full max-w-full flex-col rounded-xl bg-sky-100 p-2 shadow transition hover:scale-[1.01] active:scale-95 dark:bg-sky-900; */
	}

	.custom-link {
		@apply hover:decoration-link underline underline-offset-2 hover:decoration-2;
	}

	.title {
		@apply text-accent-2 text-2xl font-semibold;
	}
}

@utility prose {
	--tw-prose-body: var(--color-global-text);
	--tw-prose-bold: var(--color-global-text);
	--tw-prose-bullets: var(--color-global-text);
	--tw-prose-code: var(--color-global-text);
	--tw-prose-headings: var(--color-accent-2);
	--tw-prose-hr: 0.5px dashed #666;
	--tw-prose-links: var(--color-global-text);
	--tw-prose-quotes: var(--color-quote);
	--tw-prose-th-borders: #666;
}
