---
import { menuLinks, siteConfig } from "@/site.config";

const year = new Date().getFullYear();
---

<footer class="site-footer">
  <div>
    &copy; {siteConfig.author} - {year}
  </div>
  <nav aria-labelledby="footer_links" class="footer-nav">
    <p id="footer_links" class="sr-only">More on this site</p>
    {
      menuLinks.map((link) => (
        <a class="footer-link" href={link.path}>
          {link.title}
        </a>
      ))
    }
  </nav>
</footer>
