---
import { Image } from "astro:assets";
import type { WebmentionsChildren } from "@/types";

interface Props {
  mentions: WebmentionsChildren[];
}

const { mentions } = Astro.props;
const MAX_LIKES = 10;

const likes = mentions.filter(
  (mention) => mention["wm-property"] === "like-of",
);
const likesToShow = likes
  .filter((like) => like.author?.photo && like.author.photo !== "")
  .slice(0, MAX_LIKES);
---

{
  !!likes.length && (
    <div>
      <p class="webmention-meta">
        <strong>{likes.length}</strong>
        {likes.length > 1 ? " likes" : " like"}
      </p>
      {!!likesToShow.length && (
        <ul class="likes-list" role="list">
          {likesToShow.map((like) => (
            <li class="p-like h-cite likes-item">
              <a
                class="u-url not-prose like-avatar"
                href={like.author?.url}
                rel="noreferrer"
                target="_blank"
                title={like.author?.name}
              >
                <span class="p-author h-card">
                  <Image
                    alt={like.author!.name}
                    class="u-photo like-photo"
                    height={32}
                    src={like.author!.photo}
                    width={32}
                  />
                </span>
              </a>
            </li>
          ))}
        </ul>
      )}
    </div>
  )
}
