---
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";
import meCafe from "@/assets/about-me-cafe.jpg";

const meta = {
  description: "I'm a starter theme for Astro.build",
  title: "About",
};
---

<PageLayout meta={meta}>
  <h1 class="title page-title">About</h1>
  <div class="prose">
    <Image
      src={meCafe}
      alt="A young man with glasses and an orange beanie sits in a patterned armchair, wearing a dark hoodie. He has a beard and is smiling at the camera with his hand near his face."
    />
  </div>
</PageLayout>
