---
import Card from "./Card/index.astro";
import Button from "./Button.astro";
import { LINKS } from "../lib/constants";
import { Icon } from "astro-icon";
import Tooltip from "./Tooltip/index";
---

<Card colSpan="md:col-span-3" rowSpan="md:row-span-2" mf2="h-card">
  <div class="flex w-full full-height">
    <div class="flex flex-col justify-between md:max-h-[300px] gap-4">
      <div class="flex flex-col full-height">
        <h6 class="text-sm font-light m-0 text-gray-500">welcome</h6>
        <p class="m-0 font-light text-xl">
          Hi, I'm <a class="p-name u-uid u-url" rel="me" href="https://www.niklas.fyi"><b class="font-bold"><span class="p-given-name">Niklas</span> <span class="p-family-name">Siefke</span></b></a> (<span class="p-pronouns"><span class="p-x-pronoun-nominative p-pronoun-nominative p-pronoun">he</span>/<span class="p-pronoun-oblique p-x-pronoun-oblique">him</span>/<span class="p-pronoun-possessive p-x-pronoun-possessive">his</span></span>), a <span class="p-job-title">Software Engineer</span> at <a class="p-org h-card" href="https://www.mazemap.com/">MazeMap</a>. Currently, I am living with my wife and our dog in <span class="p-locality">Trondheim</span>, <span class="p-country-name">Norway</span>.
        </p>
        <br />
        <p class="m-0 font-light text-l">
          Feel free to drop me an email at <a class="u-email" rel="me" href="mailto:hi@niklas.fyi">hi@niklas.fyi</a>, or use one of the socials you will find on this page.
        </p>
      </div>
      <div class="flex gap-4">
        <a href={LINKS.github} aria-label="github profile" target="_blank">
          <Button aria-label="github profile">
            <Icon name="ri:github-fill" class="h-6" />
          </Button>
        </a>
        <a href={LINKS.linkedin} aria-label="linkeding profile" target="_blank">
          <Button aria-label="linkedin profile">
            <Icon name="ri:linkedin-box-fill" class="h-6" />
          </Button>
        </a>
        <Tooltip client:visible>
          <Button aria-label="easter egg btn">
            <Icon name="ri:emotion-laugh-line" class="h-6" />
          </Button>
        </Tooltip>
      </div>
    </div>
    <img
      src="/me.png"
      class="u-photo w-auto max-h-[300px] select-none absolute right-[-110px] bottom-[-20px] z-[-1] opacity-50 md:opacity-100 md:relative md:right-auto md:bottom-auto md:z-auto pointer-events-none"
      alt="memoji of Niklas"
    />
  </div>
</Card>