---
import { generateToc } from "@/utils/generateToc";
import type { MarkdownHeading } from "astro";
import TOCHeading from "./TOCHeading.astro";

interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;

const toc = generateToc(headings);
---

<details open class="toc">
  <summary class="title toc-summary">Table of Contents</summary>
  <nav>
    <ol class="toc-list">
      {toc.map((heading) => <TOCHeading heading={heading} />)}
    </ol>
  </nav>
</details>
