---
import type { TocItem } from "@/utils/generateToc";

interface Props {
  heading: TocItem;
}

const {
  heading: { children, depth, slug, text },
} = Astro.props;
---

<li class={`toc-item ${depth > 2 ? "toc-item--nested" : ""}`}>
  <a class={`toc-link ${depth > 2 ? "toc-link--nested" : ""}`} href={`#${slug}`}
    ><span aria-hidden="true" class="toc-hash">#</span>{text}</a
  >
  {
    !!children.length && (
      <ol>
        {children.map((subheading) => (
          <Astro.self heading={subheading} />
        ))}
      </ol>
    )
  }
</li>
